<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{auth.login.title}">로그인 폼</title>
</head>
<body>
  <h1 th:text="#{auth.login.h1}">로그인</h1>
  <form action="#" method="post" th:action="@{/auth/login}" th:object="${req}">
    <div>
      <label for="email" th:text="#{auth.login.form.label.email}">E메일</label>
      <input type="email" th:field="*{email}"/>
    </div>
    <div>
      <label for="password" th:text="#{auth.login.form.label.password}">비밀번호</label>
      <input type="password" th:field="*{password}"/>
    </div>
    <button th:text="#{auth.login.form.submit}">로그인</button>
  </form>
</body>
</html>