<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="author" content="justburrow" />
  <meta name="since" content="2016. 7. 11." />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <title>Page Footer</title>
</head>
<body>
  <h1>Page Footer</h1>

  <h2>Anonymous(Guest)</h2>
  <footer th:fragment="anonymousFooter">
  </footer>

  <h2>User</h2>
  <footer th:fragment="userFooter">
  </footer>
</body>
</html>