<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta th:remove="all" charset="UTF-8" />
  <meta th:remove="all" name="author" content="justburrow" />
  <meta th:remove="all" name="since" content="2016. 7. 9." />
  <link th:remove="all" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script th:remove="all" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script th:remove="all" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta th:include="ui_fragments/head :: head" th:remove="tag" />
  <title th:text="#{operators.signup.title}">계정 만들기</title>
</head>
<body>
  <header th:replace="ui_fragments/header :: anonymousHeader"></header>
  <h1 th:text="#{operators.signup.h1}">계정 정보</h1>
  <form action="../auth/login.html" method="post" th:action="@{/operators}" th:object="${req}">
    <div class="form-group">
      <label for="email" th:text="#{operators.signup.form.email.label}">메일주소</label>
      <input type="email" class="form-control" th:field="*{email}" />
    </div>
    <div class="form-group">
      <label for="password" th:text="#{operators.signup.form.password.label}">비밀번호</label>
      <input type="password" class="form-control" th:field="*{password}" />
    </div>
    <div class="form-group">
      <label for="password2" th:text="#{operators.signup.form.password2.label}">비밀번호 확인</label>
      <input type="password" class="form-control" th:field="*{password2}"/>
    </div>
    <button class="btn btn-primary" th:text="#{operators.signup.form.submit}">전송</button>
  </form>
  <footer th:replace="ui_fragments/footer :: anonymousFooter"></footer>
</body>
</html>